.ino-button {
  border: none;
  border-radius: var(--ino-border-radius-medium);
  transform: scale(1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--ino-font-size-medium);
  color: var(--ino-text-primary);
  white-space: nowrap;
  font-weight: var(--ino-font-weight-medium);
  outline: none;
}

.ino-button--small {
  padding: 0.5rem 1rem;
}

.ino-button--medium {
  padding: 1rem 2rem;
}

.ino-button--large {
  padding: 1.5rem 4rem;
  font-size: var(--ino-font-size-xlarge);
}

.ino-button--primary {
  background-color: var(--ino-bg-primary);
  color: var(--ino-text-primary);
}

.ino-button--secondary {
  background-color: var(--ino-bg-secondary);
  color: var(--ino-text-secondary);
}

.ino-button--outline {
  border: 1px solid var(--ino-border-primary);
  color: var(--ino-text-secondary);
  background-color: transparent;
}

.ino-button--warning {
  background-color: var(--ino-bg-warning);
  color: var(--ino-text-warning);
}

.ino-button--danger {
  background-color: var(--ino-bg-danger);
  color: var(--ino-text-danger);
}

.ino-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ino-button--active {
  transform: scale(1.05);
}

.ino-button.ino-button--primary .ino-button__text {
  color: var(--ino-text-primary);
}

.ino-button.ino-button--secondary .ino-button__text {
  color: var(--ino-text-secondary);
}

.ino-button--underlined {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--ino-border-primary);
  border-radius: 0;
  color: var(--ino-text-primary);
  padding-left: 0;
  padding-right: 0;
}

.ino-button--underlined:hover:not(:disabled) {
  border-bottom-color: var(--ino-border-hover);
}

.ino-button--underlined.ino-button--active {
  border-bottom-color: var(--ino-border-focus);
  border-bottom-width: 2px;
  transform: none;
}

.ino-button--underlined:disabled {
  border-bottom-color: var(--ino-border-disabled);
}
