.ino-toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: var(--ino-border-radius-medium);
  color: var(--ino-text-primary);
  background: var(--ino-bg-primary);
  z-index: 1000;
  animation: toast-fade-in 0.3s ease;
  min-width: 20rem;
  text-align: center;
}

.ino-toast--top {
  top: 2rem;
}

.ino-toast--bottom {
  bottom: 2rem;
}

.ino-toast--success {
  background: var(--ino-bg-success);
}

.ino-toast--error {
  background: var(--ino-bg-danger);
}

.ino-toast--warning {
  background: var(--ino-bg-warning);
}

.ino-toast--info {
  background: var(--ino-bg-primary);
}

@keyframes toast-fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
