.scroll-view-parent {
  position: relative;
}

.scroll-view {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.scroll-view.list-view {
  transition: transform 0.5s cubic-bezier(0.4, 0.8, 0.5, 1);
}

.scroll-view.grid-view {
  transition: transform 0.8s cubic-bezier(0.4, 0.8, 0.5, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ino-list-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ino-dark-opacity);
  cursor: pointer;
}

.ino-list-arrow:active {
  transform: translateY(-50%) scale(0.9);
}

.ino-list-arrow-icon {
  font-size: var(--ino-font-size-large);
  color: var(--ino-text-primary);
}

.ino-list-arrow:hover {
  background-color: var(--ino-mid-opacity);
}

.edge-scroll-zone {
  width: 3rem;
}

.ino-list-title {
  font-size: var(--ino-font-size-xxlarge);
  color: var(--ino-text-primary);
  font-weight: var(--ino-font-weight-medium);
  margin-bottom: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
