:root {
  --ino-bg-primary: #0f87b2;
  --ino-text-primary: #fff;
  --ino-border-primary: #0f87b2;
  --ino-shadow-primary: #0f87b2;
  --ino-hover-primary: #0056b3;
  --ino-disabled-primary: #808080;
  --ino-muted-primary: #e0e0e0;
  --ino-dark-primary: #333;
  --ino-dark-opacity: rgba(0, 0, 0, 0.5);
  --ino-light-primary: #f0f0f0;
  --ino-bg-active: #0f87b2;
  --ino-bg-danger: #ff0000;
  --ino-bg-warning: #ffa500;
  --ino-text-danger: #fff;
  --ino-text-warning: #333;
  --ino-bg-secondary: #f0f0f0;
  --ino-text-secondary: #333;
  --ino-border-secondary: #e0e0e0;
  --ino-shadow-secondary: #e0e0e0;
  --ino-hover-secondary: #d0d0d0;
  --ino-disabled-secondary: #808080;

  /* font sizes */
  --ino-font-size-small: 1.3rem;
  --ino-font-size-medium: 1.6rem;
  --ino-font-size-large: 2rem;
  --ino-font-size-xlarge: 2.4rem;
  --ino-font-size-xxlarge: 3.2rem;

  /* font weights */
  --ino-font-weight-light: 300;
  --ino-font-weight-regular: 400;
  --ino-font-weight-medium: 500;
  --ino-font-weight-bold: 700;

  /* border radius */
  --ino-border-radius-small: 0.4rem;
  --ino-border-radius-medium: 0.8rem;
  --ino-border-radius-large: 1.2rem;
  --ino-border-radius-xlarge: 1.6rem;
  --ino-border-radius-xxlarge: 2rem;

  /* active scale */
  --ino-active-scale: 1.05;
}
